@import "../../../../scss/variables";

.card {
    color: white;
    border: .5rem solid;
    max-width: 35rem;
    min-width: 20rem;
}

.recepcionado{
    border-color:$orange-brand-state;
    background-color: $orange-brand-state;
}
.revisado{
    border-color:$blue-brand-state;
    background-color: $blue-brand-state;
}
.reparado{
    border-color: $green-brand-state;
    background-color: $green-brand-state;
}
.sinReparacion{
    border-color: $red-brand-state;
    background-color: $red-brand-state;
}


.cardBody{
    padding: 0 1rem;
    color: white;
    background-color: $bg-card-service; /* negro con 70% de opacidad */
}

.state{
    display: block;
    padding: .2rem;
    padding-left: 1rem;
    margin: 0;
    border-bottom: .5rem solid transparent;
}

.icon{
    font-size: 1.3rem;
}

// *{
//     outline: 1px solid red;
// }