.latestServicesBox {
  padding: 2rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.titleBox {
  grid-column: span 3;

  & > h2 {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 1350px) {
  .latestServicesBox {
    grid-template-columns: repeat(2, 1fr);
  }
  .titleBox {
    grid-column: span 2;
  }
}

@media (max-width: 992px) {
  .latestServicesBox {
    justify-content: center;
    grid-template-columns: auto;
  }
  .titleBox {
    grid-column: span 1;
  }
}
