@import "/src/scss/variables";

.received {
  background-color: $orange-brand-state;
}

.reviewed {
  background-color: $blue-brand-state;
}

.repaired {
  background-color: $green-brand-state;
}

.withoutRepair {
  background-color: $red-brand-state;
}

.default {
  background-color: gray;
}

.card{
  color: white;
}

@media (max-width: 576px) {
  .title {
    font-size: 0.75rem;
  }
}
