@import "../../../../scss/variables";

.card {
  color: black;
  border: 0.5rem solid;
  max-width: 35rem;
  min-width: 20rem;
  border-color: $bg-card-service;
  background-color: $bg-card-service;
}

.cardBody {
  padding: 0 1rem;
  color: $bg-card-service;
  color: white;
}

.nameBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: $bg-navigate;
}

.disabledCard {
  background-color: rgb(93, 93, 93);
  border-color: rgb(93, 93, 93);
}

.disabledName {
  background-color: rgb(168, 168, 168);
}

.name {
  display: block;
  padding: 0.2rem;
  padding-left: .5rem;
  margin: 0;
}

.icon {
  font-size: 1.3rem;
}

.avatar {
  margin-right: .5rem;
}

