@import "../../../scss/variables";

.statisticsBox {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  color: white;


}

.loaderBox {
  min-height: 12.5rem;

}

.titleBox {
  grid-column: span 4;
  color: black;

  & > h2 {
    display: inline-block;
    padding: 0;
    margin: 0;
  }


}

@media (max-width: 1200px) {
  .statisticsBox {
  grid-template-columns: repeat(2, 1fr);
  }

  .titleBox {
    grid-column: span 2;
  }
}

  @media (max-width: 576px) {
    .statisticsBox {
      padding: 1rem;
      gap: 1rem;
    }
    .titleBox {
      text-align: center;
      
    }
    }