@import "../../../../scss/variables";

.card {
    color: white;
    border: .5rem solid;
    max-width: 35rem;
    border-color:$bg-card-service;
    background-color: $bg-card-service;
    min-width: 22rem;
    @media (max-width: 360px) {
        min-width: 19rem;
    }
}

.cardBody{
    padding: 0 1rem;
    color: $bg-card-service;
    background-color: $bg-navigate;
}


.nameBox{
    display: flex;
     justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: .5rem solid transparent;
}

.name{
    display: block;
    padding: .2rem;
    padding-left: 1rem;
    margin: 0;
    
}

.icon{
    font-size: 1.3rem;
}

// *{
//     outline: 1px solid red;
//     color: black;
// }