// Variables de breakpoints de Bootstrap
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Colores de Marca.
$blue-brand: #006699;
$blue-brand-rgba: rgba(0, 102, 153, 0.6);
$dark-blue-brand-rgba: rgba(38, 139, 210, 0.075);
$black-brand: #000;
$white-brand: #fff;

$orange-brand-state: #E63D00;
$blue-brand-state: #006699;
$green-brand-state: #3CA55C;
$red-brand-state: #d31027;
$grey-brand-state: #5a594e;

$bg-navigate: #ecedee;
$bg-card-service: rgb(43, 43, 43);

$border-size: 0.15rem;


$bg-gradient-white-blue: linear-gradient(87deg, rgba(255, 255, 255, 1) 0%, rgba(0, 102, 153, 1) 100%);
